{% extends "base.html" %}
{% load static %}

{% block title %}
    All Posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}

{% block content %}
    <h1>All Posts on my site</h1>
    {% include "blog/includes/noodles.html" %}
    {% include "blog/includes/pasta.html" %}
    {% include "blog/includes/pizza.html" %}
    {% include "blog/includes/salad.html" %}
    {% include "blog/includes/smoothie.html" %}
    {% include "blog/includes/soup.html" %}
{% endblock %}